{% extends "base.html" %}
{% set active_page = "home" %}
{% block content %}

<div class="jumbotron">
    <h1>Find your match</h1>
    <p class="lead">Want to confuse your friends? Avoid the dilemma of choosing your children's last name? Reduce namespace collisions? If so, you need the Name Connection&trade;. Find the man or woman of your dreams with our patented compatibility formula.</p>

    <form action="/" method="post">
        <p>What's your name? <input type="text" name="yourname"></p>
        <p><button class="btn btn-lg btn-success" type="submit" role="button">Find your match</a></p>
    </form>
</div>

{% endblock %} 
